@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a1c2ff;
}

.container {
  width: 90%;
  height: 90vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem;
}

.form-image img {
  width: 100%;
  height: 80%;
}

.form {
  width: 100vh;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 3rem;
}

.column {
  flex: 1; /* Ambas as colunas ocupam a mesma largura */
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.login-button {
  display: flex;
  align-items: center;
}


.login-button button:hover {
  background-color: blue;
}


/*Modal*/

button{
  color: white;
  background:local;
  align-items: center;
  
}

.button-modal{
  width: 100%;
  margin-top: 2.5rem;
  border: none;
  background-color: rgb(60, 60, 255);
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: white;
  width: 60%;
  max-width: 600px;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.close {
  float: right;
  cursor: pointer;
}
@media (max-width: 500px){
  .wrap {
    width: 100%;
  }
}
/*Fim do Modal*/

/*Login*/
.login-button button a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.form-header h1:after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: rgb(60, 60, 255);
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group {
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinhar elementos à esquerda */
}

.input-box input {
  width: 100%; /* Faz com que o input ocupe toda a largura do contêiner */
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid rgb(60, 60, 255);
}

.input-box label,
.user-title h6 {
  font-size: 1rem;
  font-weight: 600;
  color: #000000c0;
  text-align: center;
}

.input-box label {
  width: 100%; /* Garantir que o label ocupe toda a largura disponível */
  word-wrap: break-word; /* Permitir a quebra de palavras */
  margin-bottom: 0.5rem; /* Adicionar margem inferior para separar do input */
  text-align: left; /* Alinhar o texto à esquerda */
}

.input-box input::placeholder {
  color: #000000be;
  padding: 1px;
  justify-content: space-between;
}

.user-group {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.user-input {
  display: flex;
  align-items: center;
}

.user-input input {
  margin-right: 0.35rem;
}

.user-input label {
  padding: 8px ;
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
  justify-content: space-between;
}

.continue-button button {
  width: 100%;
  margin-top: 2.5rem;
  border: none;
  background-color: rgb(60, 60, 255);
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button button:hover {
  background-color: blue;
}

.continue-button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1330px) {
  .form-image {
    display: none;
  }
  .container {
    width: 50%;
  }
  .form {
    width: 100%;
  }
}

@media screen and (max-width: 1064px) {
  .container {
    width: 90%;
    height: 90%;
  }
  .input-group {
    flex-direction: column;
    z-index: 5;
    padding-right: 5rem;
    max-height: 10rem;
    flex-wrap: nowrap;
  }
  .user-inputs {
    margin-top: 2rem;
  }
  .user-group {
    flex-direction: column;
  }
  .user-title h6 {
    margin: 0;
  }
  .user-input {
    margin-top: 0.5rem;
  }
}
